html {
	box-sizing: border-box;
}

img {
	display: block;
	/*картинки по умолчанию строчный элем, мы делаем блочный*/
	max-width: 100%;
	/*если экран будет уже чем само изображение оно будет сжиматься под экран*/
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	/*наследует значение родителя*/
}